
#container{
    width: 100%;
    height:17vh;
    margin-top:-10px;
    margin-left:-10px;
    background-color: #0d2d7c;
}
#topnav1{
    width: fit-content;
margin-top: -10px;
    /* width: 60%; */
    height: 48px;
    display: flex;
    background-color:#1B3C98;
    justify-content: space-evenly;
    margin-left: 500px;
}
div{
    padding: 15px;  
}
#sec1{
    font-family: cabrillo-sans,sans-serif;
    font-size: 12px;
    padding: 0.5rem;
    color: white;
    text-decoration: none;
    font-weight: 900;
    letter-spacing: .0625rem;   
    filter: contrast(9.69)
}
#topnav2{
    width: fit-content;
    /* width: 60%; */
    height: 48px;
    display: flex;
    background-color:#0d2d7c;
    margin-top: -80px;
    margin-left: 500px;
    justify-content: flex-end;
}
#sec2{
     font-family: cabrillo-sans,sans-serif;
    font-size: 18px;
    padding: 0.5rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: .0625rem;
    align-items: center;
    filter: contrast(12.47)
}
.button-link {
    /* display: inline-block; */
    /* padding: 10px 20px; */
    text-align: center;
    /* text-decoration: none; */
    /* border-radius: 5px; Rounded corners */
    /* font-size: 16px; */
    font-weight: bold;
    border-radius: 9999px;
    /* /////////// */
    font-family: cabrillo-sans,sans-serif;
    background-color: #FFF066; /* Button color */
    color: #102730; /* Text color */
    font-size: .90rem;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: 900;
    letter-spacing: .0625rem;
  }
#redg{
    border-width: 2px;
    border-radius: 9999px;
    align-items: center;
    padding:  9px 27px;
    background-color: #FF5408;
    font-family:  cabrillo-mono,monospace;
    text-decoration: none;
    font-weight: bolder;
    color: #FFFFFF;
    font-size: 18x;
}
.logo{
    width: fit-content;
    margin-top: -60px;
    margin-left: 70px;
}

.grouphoto{
    background-color: #0d2d7c;
    width:100%;
    height: 1060.8;
  text-align: center;
margin-left:-10px; 
/* height:52vh; */
}
.p1{
    font-family: cabrillo-mono,monospace; /* Set the font family */
    font-size: 23.94px; /* Set the font size */
    font-weight: bold; /* Set the font weight */
    color: #3861E3; /* Set the text color */
     /* Add some spacing below the paragraph */
    margin-left: 54px;  
}
.p2{
    font-family: cabrillo-sans,sans-serif;
    font-size: 40.14px;
    font-weight: 700;
    color:#0D2D7C;
    margin-left: 54px; 
    height: fit-content;
    margin-bottom:-20px;
    margin-top:-20px;

}
.cover{
    /* margin-bottom: -100px; */
    width: 100%;
    height: 400px;
    background: #D3E9F4; 
    /* margin-top: 30px; */
    display: flex;
}
.box{
    
    margin:15px ;
    width: 800px;
    height: 400px;
    box-shadow: -1px 0 10px #0000;
    font-size: 0.8rem;
    color:#0D2D7C;
    font-family: "cabrillo-sans",sans-serif;
    /* background-color: black; */
    align-items: center;
    justify-content: center;
    text-align: center;
}
.img
{
    width: 300px;
    height:200px ;
    display: flex;
}

.ou{
    width: 100%;
    height: 150px;
    background: #D3E9F4;
    
}
.checkout{
    padding-top: 65px;
    text-align: center;
    background: #D3E9F4;
}
.quicklinks{
    width: 70%;
    height: 600px;
    background-color: #3861E3;
    margin-left: 210px;
    margin-top: -20px;
    padding-top: 120px;     
}
.outquicklinks{
    width: 100%;
    
}
.ql{
    font-family:  cabrillo-sans,sans-serif;
    font-size: 35px;
    color: white;
    text-decoration: none;
    font-weight: 650;
}
.culture{
    width: 100%;
    height: 1200px;
    background-color: #FFCFC5;
}
.inculture{
    display: flex;
    width: fit-content;
    font-family:cabrillo-sans,sans-serif;
    font-size: 40px;
    color:#0D2D7C;
    font-weight: 700;
    margin-top: 110px;
    margin-left: 100px;
    line-height: 55px;
    gap: 400px;
}
.bfont{
    font-size: 16.02px;
}

